<!DOCTYPE html>
<html lang="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<h1>< Chat System ></h1>
___________________________
<h2><p th:text="${title}"></p></h2>
<h3><p th:text="${description}"></p></h3>
___________________________
<h2>Chat</h2>
<table>
    <tbody>
    <tr th:each="message : ${message}">
        <td th:text="${message}"></td>
    </tr>
    </tbody>
</table>
<form action="/message" >
    <label>Message</label>
    <input name="message" type="text" />
    <input type="submit" value="Send" />
</form>
___________________________


<form action="/channel" >
    <input type="submit" value="Buck" />
</form>
</body>

</html>