<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<h1>< Chat System ></h1>
___________________________
<h2>Sign Up</h2>
<form action="/signup2">
    <label>name</label>
    <input name="name" type="text" />
    <label>password</label>
    <input name="password" type="text" />
    <input type="submit" value="sign up" />
    <p th:text="${message1}"></p>
</form>

<form action="/hello" >
    <input type="submit" value="Buck" />
</form>
</body>
</html>